html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/* ----- STYLE CSS CHLOE ---- */

@font-face {
    font-family: 'sneakersregular';
    src: url('fonts/sneakers/sneakers-webfont.woff2') format('woff2'),
         url('fonts/sneakers/sneakers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*body{
	font-family: Helvetica,Arial,sans-serif;
}*/



.imgsize {
    display: block;
    margin-right: auto;
    height: 60px;
    width: 80px; 
}

.element {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 300px;
    font-size: 20px;
    padding: 5%;
    border-style: solid;
    border-color: rgb(129, 192, 143);
    margin-bottom: 0%;
}

.cont_elements {
    display: flex;
    flex-direction: column;
    padding: 2% 30% 0% 30%;
    margin-left: auto;
    margin-right: auto;
}

.check {
    margin-bottom: 4%;
    margin-left: 2%;
}

.othertext{
    font-size: 20px;
    text-align: center;
    margin-right: auto;
}
