html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

/*.title {
    font-size: 84px;
}*/

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/* ----- STYLE CSS CHLOE ---- */

@font-face {
    font-family: 'sneakersregular';
    src: url('../fonts/sneakers/sneakers-webfont.woff2') format('woff2'),
         url('../fonts/sneakers/sneakers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*body{
	font-family: Helvetica,Arial,sans-serif;
}*/

/* -- HEADER -- */
header .container-menu-logo {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-menu {
    margin: auto;
}
header .container-menu-logo .container-logo h1 {
    font-size: 1.3rem;
}
header .container-menu-logo .container-logo p {
    line-height: 1;
    margin: 0;
}
header .container-menu-logo .container-logo p span{
	font-family: 'sneakersregular';
	font-size: 8em;
	margin: auto;
	color: slategrey;
}
/* -- CONTAINER DES ARTICLES -- */
.container-articles {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 30%;
}
/* -- CONTAINER D'UN ARTICLE */
.container-articles .container-article {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}
.container-articles .container-article .container-right h2 {
	font-size: 1.5em;
	
}
.container-articles .container-article .container-right h2, .container-right p {
	text-align: end;
	
}

/* -- CONTAINER FICHE PRODUIT */
.container-fiche-produit .container-left img {
    width:150% !important;
}


/* ----- FIN STYLE CSS CHLOE ---- */

.image {

    width:  100%;


}

.img {
    display: flex;
    align-items: center;
    width:  200px;
    height: 200px;
    overflow: hidden;
}

.image_back{
    width: 20%;
}